<div class="main container-fluid">
  <div class="header mt-3 p-4">
    <h1>My Products</h1>
  </div>

  <div class="card-row">
    <div class="cards">
            <div class="card card-box">
              <div class="card-head">
                <img src="../../../assets/images/Manage Products.svg" class="img-fluid" alt="">
                <h4>Manage Products</h4>
              </div>
                <div class="card-text">
                  <p>Click here to manage the products you sell in your stores.</p>
                  <button routerLink="#" class="card-btn"> Open </button>
                </div>
            </div>
            <div class="card card-box">
              <div class="card-head">
                <img src="../../../assets/images/Product Categories.svg" alt="">
                <h4>Product Categories</h4>
              </div>
              <div class="card-text">
                <p>Click here to manage your product category eg. Electronics.</p>
                <button routerLink="#" class="card-btn"> Open </button>
              </div>
            </div>
            <div class="card card-box">
              <div class="card-head">
                <img src="../../../assets/images/Check Stock.svg" alt="">
                <h4>Check Stock</h4>
              </div>
                <div class="card-text">
                  <p>Analyse what you have in stock in all your shops.</p>
                <button routerLink="#" class="card-btn"> Open </button> 
                </div>
            </div>
          <div class="card card-box">
            <div class="card-head">
              <img src="../../../assets/images/New Product Icon.svg" alt="">
              <h4>New Product</h4>
            </div>
              <div class="card-text">
                <p>Create a single product or multiple products at once.</p>
              <button routerLink="#" class="card-btn"> Open </button>  
              </div>
          </div>
  </div>
</div>