.main {
  height: 100vh;
  width: 100%;
  padding: 16px 0px 16px 32px;
}

.header {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.32rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin-top: 2.5rem;
}

.card-box {
  height: 16rem;
  width: 16rem;
  padding: 10px 10px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.card-head {
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.card-text {
  text-align: center;
  font-family: serif;
  font-size: .9rem;
  color: #585858;
}

h4 {
  font-family: "Montserrat",sans-serif;
  font-size: 1.3rem;
}

.btn {
  margin-top: 1rem;
  color: #950007;
  background: #fff;
  padding: 0.25rem 0.5rem;
  width: 100%;
  font-size: .875rem;
  font-weight: bold;
  line-height: 1.5;

  &:hover {
    background: #950007;
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
.card-row {
  // padding-left: 10px;
}

.cards {
  // padding-left: 10px;
}
}