*{
    color: #1a1a1ab8;
}
.layout {
    width: 100%;
    height: 100%;   
}
.content {
    background: #fff;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    color: #1a1a1ab8;
}
// the button layout 
.btn-layout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .btn {
        border: none !important;
        height: 2.2rem;
    }
    .btn:focus {
        box-shadow: none;
    }
}
.filter-btn{
    width: 9rem;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    gap: .75rem;
    font-size: 1rem;
    img {
        transform: scale(.7); 
    }
}
.addCustomer-btn{
    background: #ed1c25;
    color: #fff;
    width: 9rem;
}
// modal

// table data container
.table-container {
    min-height: 16.43rem ;
    max-height: 44vh;
    width: 100%;
    overflow: auto;
    // background: wheat;
}
.table-section {
    width: 100%;
    border-collapse: collapse;
}
thead th {
    padding: 10px 0;
    text-align: left;
    background: #f9f9f9;
    color: #767171;
    position: sticky;
    top: 0;
    font-size: 1rem;
    z-index: 100;
}
.table-body td {
    max-width: 9.375rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 1.25rem;
}
.table-body td:nth-child(4) {
    color: rgb(19, 165, 0);
}
.open-btn {
    color: #ed1c25;
    background: #fff;
    border: 1px solid #ed1c25;
    transition: all 0.5s;
    width: 4rem ;
    border-radius: .2rem;
}
.open-btn:hover {
    color: #ed1c25;
    background: #fbcacc;
    border: 1px solid #fbcacc;
}
// table pagination 
.table-pagination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
// download cv button
.download-btn {
    margin-top: 1rem;
    background: #f9f9f9;
    width: max-content;
    padding: .5rem;
}

@media only screen and (min-width: 478px) {
    .layout{
        height: 100vh;
        padding: 9% 3rem 5% 3rem;
    }
}