<main class="layout">
    <div class="wrapper">
        <div class="header">
            <h3>My Customers</h3>
            <span>View and manage your customers</span>
        </div>
        <div class="content">
            <!-- the button layout -->
            <div class="btn-layout">
                <button class="filter-btn" (click)="toggleFilter()">
                    Filter Table 
                    <img src="	https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__filter__red.svg" class="img-fluid" alt="filter logo">
                </button>
                <div *ngIf="isFilterOpen" class="filterDiv">
                    <form action="">
                        <div class="filterInput-wrapper">
                            <div class="inputDiv">
                                <div class="filter-group">
                                    <label class="filter-label">Customer Name</label>
                                    <input type="text" class="filter-input">
                                </div>
                            </div>
                            <div class="inputDiv">
                                <div class="filter-group">
                                    <label class="filter-label">Email Address</label>
                                    <input type="text" class="filter-input">
                                </div>
                            </div>
                            <div class="inputDiv">
                                <div class="filter-group">
                                    <label class="filter-label">Phone Number</label>
                                    <input type="number" class="filter-input">
                                </div>
                            </div>
                        </div>
                        <div class="filterBtn-group">
                            <button class="btn-transparent btn">clear filter</button>
                            <button class="btn-primary btn">apply filter</button>
                        </div>
                    </form>
                </div>
                <button type="button" class="btn-primary btn" (click)="toggleModal()">
                    Add Customers
                </button>               
            </div>
            <ng-container >
                <div id="modal" *ngIf="isModalOpen"  >
                    <div class="modal-content">
                        <figure class="cancel-icon" (click)="toggleModal()">
                            <img  src="../../../../assets/images/cancel.png" alt="cancel">
                        </figure>
                        <div class="modal-body">
                            <h3>Add New Customer</h3>
                            <p>please enter customer details to as requested</p>
                            <form>
                                <div class="field-container">                         
                                    <div class="input-wrapper">
                                        <div class="form-floating mb-3 ">
                                          <input type="text" class="form-control" id="username" placeholder="Username">
                                          <label for="username">First Name</label>
                                        </div>
                                      </div>
                                      <div class="input-wrapper">
                                        <div class="form-floating mb-3 ">
                                          <input type="text" class="form-control" id="username" placeholder="Username">
                                          <label for="username">Last Name</label>
                                        </div>
                                      </div>
                                      <div class="input-wrapper">
                                        <div class="form-floating mb-3 ">
                                          <input type="text" class="form-control" id="username" placeholder="Username">
                                          <label for="username">Phone Number</label>
                                        </div>
                                      </div>
                                      <div class="input-wrapper">
                                        <div class="form-floating mb-3 ">
                                          <input type="text" class="form-control" id="username" placeholder="Username">
                                          <label for="username">E-mail Addresss </label>
                                        </div>
                                      </div>
                                      <div class="input-wrapper">
                                        <input type="checkbox" >
                                        <label> Recieve E-reciept</label>
                                      </div>
                                </div>
                                <div class="modal-btn-group">
                                    <button class="btn" (click)="toggleModal()"> Cancel</button>
                                    <button class="btn btn-primary">Add Customer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!-- the table data section -->
            <div class="data-Container">
                <div class="table-container">
                    <table class="table ">
                        <thead >
                            <tr>
                                <th>Customer Name</th>
                                <th>Email Adddress</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td>
                                    <button class="open-btn"  [routerLink]="['../customer']" >open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td >
                                    <button class="open-btn" [routerLink]="['../customer']" >open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td >
                                    <button class="open-btn" [routerLink]="['../customer']" >open</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                    <div class="pageDropdown-wrapper">
                        items per page: 10 Items
                    </div>
                    <div class="pageNumber-wrapper">

                    </div>
                    <div>
                        Showing 1-10 of 12
                    </div>
                </div>
                <div class="download-btn">
                    <img src="../../../assets/images/download-icon__red.svg" alt="">
                    Download as CSV
                </div>
            </div>
        </div>
    </div>
</main>