*{
    color: #1a1a1ab8;
}
.layout {
    width: 100%;
    height: 100%;   
}
.content {
    background: #fff;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    color: #1a1a1ab8;
}
// the button layout 
.btn-layout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  // filter button and section layput
  .filterDiv {
    width: 25rem;
    background: #fff;
    position: absolute;
    z-index: 1000;
    transform:  translateY(2.3rem) translateX(-2.22rem);  
    border-radius: 4px; 
    // margin-top: .75rem; 
    padding: .8rem;
  }
  .filterInput-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
  }
  .inputDiv {
    // flex: 0 0 auto;
    width: 50%;
  }
  .filter-group{
    margin-top: .625rem;
    display: grid;
  }
  .filter-label {
    color: #1a1a1ab8;
    font-size: 1rem;
    font-weight: 700;
  }
  .filter-group select {
    width: calc(100% - 8px);
    margin-right: auto;
  }
  .filter-input {
    outline: none;
    border-radius: 4px;
    padding: 5px 0 5px 10px;
    font-size: .75rem;
    border: 1px solid #dfdede;
  }
  .filterBtn-group {
    display: flex;
    width: 100%;
  }

// modal
#modal {
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.modal-content {
  align-items: flex-start;
  padding: 1.25rem 1.9rem;
  width: 40%;
  border-radius: .5rem;
  box-shadow: -12px 20px 32px #33333329;
  display: flex;
  position: relative;
  
}
.cancel-icon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: -1.5rem;
  right: 0;
}
.modal-body {
  width: 100%;
}
.modal-content h3 {
  margin-top: 10px;
}
.modal-content form {
  margin: 1rem 0;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
//overide bootstrap form control
.form-control:focus {
  outline: none !important;
  border: 1px solid black;
  box-shadow: none !important;
}
.checkbox-label {
  margin-left: 1rem;
}
.input {
  line-height: 1.5;
  background: #fff;
  color: #9c9898;
  padding: 1.375rem 1.0625rem 1.0625rem;
  height: 3rem;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid #ccc;
  transition: border .3s ease;
}
.modal-btn-group {
  display: flex;
  justify-content: right;
}




@media only screen and (min-width: 478px) {
    .layout{
        height: 100vh;
        padding: 9% 3rem 5% 3rem;
    }
}