<div class="layout">
  <div class="top-bar container">
    <div class="proflog">
      <div class="profile">
        <p><a href="#"> Profile</a></p>
      </div>
    
      <div class="logout">
        <p><a href="#">logout</a></p>
      </div>
    </div>
    <div class="admin">
      <p>Adedotun Valoni <br> <strong>Administrator</strong></p>
      
    </div>
    <div class="profile-pic">
      <img src="../../../assets/images/Screenshot_1635767698.png" class="img-fluid log-img"  alt="">
    </div>
  </div>
</div>