<main class="layout">
    <div class="wrapper">
        <div class="header">
            <h3>Pay Now</h3>
            <span>Here you can make payment for your subscription plans.</span>
        </div>
        <div class="payment-section">
            <div class="box-wrapper">
                <img src="../../../assets/images/icon__pos__terminal.svg" alt="">
                <h5>Pay with POS</h5>
                <span>Learn more on how to pay with our POS.</span>
                <a class="open-btn">open</a>
            </div>
            <div class="box-wrapper">
                <img src="../../../assets/images/icon__blue__file.svg" alt="">
                <h5>Pay with RexPay</h5>
                <span>Make Payment with RexPay</span>
                <a class="open-btn">open </a>
            </div>
        </div>
    </div>
</main>