<main class="layout">
    <div class="wrapper">
        <div class="header">
            <h3>My Shops</h3>
        </div>
        <div class="content">
            <!-- the button layout -->
            <div class="btn-layout">
                <button class="filter-btn" (click)="showFilter()">
                    filter Table 
                    <img src="	https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__filter__red.svg" class="img-fluid" alt="filter logo">
                </button>
                <div *ngIf="isFilterOpen" class="filterDiv">
                    <form action="">
                        <div class="filterInput-wrapper">
                            <div class="inputDiv">
                                <div class="filter-group">
                                    <label class="filter-label">Shop Name</label>
                                    <input type="text" class="filter-input">
                                </div>
                            </div>
                            <div class="inputDiv">
                                <div class="filter-group">
                                    <label class="filter-label">Store ID</label>
                                    <input type="text" class="filter-input">
                                </div>
                            </div>
                        </div>
                        <div class="filterBtn-group">
                            <button class="btn-transparent btn">clear filter</button>
                            <button class="btn-primary btn">apply filter</button>
                        </div>
                    </form>
                </div>
                <button class="btn-primary btn">
                    Add Shop
                </button>
            </div>
            <!-- the table data section -->
            <div class="data-Container">
                <div class="table-container">
                    <table class="table ">
                        <thead >
                            <tr>
                                <th>Shop Name</th>
                                <th>Store ID</th>
                                <th>Created On</th>
                                <th>Updated On</th> 
                                <th> Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >open</button>
                                </td>
                            </tr>
       
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                    <div class="pageDropdown-wrapper">
                        items per page: 10 Items
                    </div>
                    <div class="pageNumber-wrapper">
  
                    </div>
                    <div>
                        Showing 1-10 of 12
                    </div>
                </div>
                <div class="download-btn">
                    <img src="../../../assets/images/download-icon__red.svg" alt="">
                    Download as CSV
                </div>
            </div>
        </div>
    </div>
  </main>