<main class=" wrapper">
    <div class="login-section">
      <div class="header">
        <img src="../../assets/images/nav-logo.svg" class="img-fluid logo" alt="login logo">
      
        <div class="header-text">
          <h2>Welcome Back</h2>
          <h5>Sign in Here</h5>
        </div>
      </div>
  
      <form class="container form-section">
        <div class="row">
          <div class="col-md-4">
            <div id="float-container" class="float-container mb-3">
              <label for="floatfield">+234</label>
              <input id="floatfield" type="text">
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group mb-3">
              <input placeholder="Username">
            </div>
          </div>
        </div>
  
        <div class="form-group mb-3">
          <input  placeholder="Merchant Code">
        </div>
        <div class="form-group mb-3">
          <input placeholder="Pin">
        </div>
        <div class="forgot">
          <a href="#">Forgot Pin</a>
        </div>
  
        <button class="btn sign-in-btn">
          <img src="../../assets/images/sign-in-btn-icon.svg" alt="">
          <span> sign in</span>
        </button>
     </form>

     <p class="footer-text">I agree to RexRetail's <a href="#" class="foot-link">Terms of Use</a> and <a href="#" class="foot-link">Privacy Policy</a>.</p>
  
    </div>
</main>