<main class=" wrapper">
    <div class="login-section">
      <div class="header">
        <img src="../../assets/images/nav-logo.svg" class="img-fluid logo" alt="login logo">
      
        <div class="header-text">
          <h2>Welcome Back</h2>
          <h5>Sign in Here</h5>
        </div>
      </div>
  
      <form class="container form-section">
        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input type="email" class="form-control dialval" id="floatingInputValue" placeholder="name@example.com" value="+234">
              <label for="floatingInputValue">Dialing Code</label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" placeholder="Username">
              <label for="username">Username</label>
            </div>
          </div>
        </div>
  
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="merchantcode" placeholder="Password">
          <label for="merchantcode">Merchant Code</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Pin</label>
        </div>
        <div class="forgot">
          <a href="#">Forgot Pin</a>
        </div>
  
        <button class="btn sign-in-btn">
          <img src="../../assets/images/sign-in-btn-icon.svg" alt="">
          <span> sign in</span>
        </button>
     </form>

     <p class="footer-text">I agree to RexRetail's <a href="#" class="foot-link">Terms of Use</a> and <a href="#" class="foot-link">Privacy Policy</a>.</p>
  
    </div>
</main>