* {
    color: #1a1a1a;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .login-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 25%;
    min-height: 35%;
  }

  .header {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logo {
    width: 11rem;
    margin-bottom: 2rem;
  } 
  .header-text {
    text-align: center;
    font-family: Montserrat bold;
    h2 {
        font-size: 1.2rem;
    }
    h5 {
        font-size: 1rem;
    }
  } 
  .header-text {
    margin-bottom: 2rem;
  }
  
  h5.sign {
    margin-left: 3.2rem;
  }
  
  .forgot {
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 1rem;
    font-family: "Montserrat Bold",serif;
    font-weight: bold;
    font-size: 17px;
  }

  .form-section {
    position: relative;
  }

  .dialval {
    pointer-events: none;
  }

  input {
    background-color: #f0f0f0;
    min-height: 3.1rem;
    border-radius: 0.3125rem;
    margin-bottom: 0.3125rem;
    padding: 5px 10px;
    border: none;
    outline: none;
    width: 100%;
  }

  a {
    color: red;
  }
  .sign-in-btn {
    width: 100%;
    min-height: 3.1rem;
    opacity: 0.5;
    background: #c91c24;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 2fr;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
    transition: all .3s ease-out;
    img {
      padding-left: 30%;
      display: none;
    }
    span {
      color: rgb(149, 0, 7); 
      text-align: left;
      padding-left: 10%;
    }
  } 
  .sign-in-btn:hover {
    opacity: 1;
    img {
      display: initial;
      transition: all .3s ease-out;
      animation: icon_left .7s;
    }
    @keyframes icon_left {
      100% {transform: translateX(2rem);}
    }
    span {
      color: #fff;
    }
  }
  .footer-text {
    margin-top: 1rem;
  }
  
  .foot-link {
    text-decoration: none;
  }

  
  @media only screen and (min-width: 768px) {
  
  .wrapper {
    height: 100vh;
    width: 100%;
  }  
  .login-section {
    padding: 20% 0px;
  }
  }