<main class="layout">
    <a routerLink="../../product" class="navigate">
        <img src="../../../../assets/images/back.png" alt="">
         return to My Products
    </a>
  <div class="wrapper">
      <div class="header">
          <h3>My Products Categories</h3>
      </div>
      <div class="content">
          <!-- the button layout -->
          <div class="btn-layout">
            <button class="filter-btn btn" (click)="showFilter()">
                filter Table 
                <img src="	https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__filter__red.svg" class="img-fluid" alt="filter logo">
            </button>
            <div *ngIf="isFilterOpen" class="filterDiv">
                <form action="">
                    <div class="filterInput-wrapper">
                        <div class="inputDiv">
                            <div class="filter-group">
                                <label class="filter-label">Category Name</label>
                                <input type="text" class="filter-input">
                            </div>
                        </div>
                    </div>
                    <div class="filterBtn-group">
                        <button class="btn-transparent btn">clear filter</button>
                        <button class="btn-primary btn">apply filter</button>
                    </div>
                </form>
            </div>
              <button class="addCustomer-btn btn">
                  New Categories
              </button>
          </div>
          <!-- the table data section -->
          <div class="data-Container"> 
              <div class="table-container">
                  <table class="table ">
                      <thead >
                          <tr>
                              <th>Category Name</th>
                              <th>Create Date</th>
                              <th>Updated Date</th>
                              <th>Status</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody class="table-body">
                          <tr>
                              <td>Blessings Store</td>
                              <td>Blessings Store</td>
                              <td>Cereal</td>
                              <td>Active</td>
                              <td>
                                  <button routerLink="../shop" class="open-btn" >update</button>
                              </td>
                          </tr>
                          <tr>
                              <td>Sunday Mann</td>
                              <td>Blessings Store</td>
                              <td>Cereal</td>
                              <td>Active</td>
                              <td>
                                  <button routerLink="../shop" class="open-btn" >update</button>
                              </td>
                          </tr>
                          <tr>
                              <td>Sunday Mann</td>
                              <td>Blessings Store</td>
                              <td>Cereal</td>
                              <td>Active</td>
                              <td>
                                  <button routerLink="../shop" class="open-btn" >update</button>
                              </td>
                          </tr>
                          <tr>
                              <td>Sunday Mann</td>
                              <td>Blessings Store</td>
                              <td>Cereal</td>
                              <td>Active</td>
                              <td>
                                  <button routerLink="../shop" class="open-btn" >update</button>
                              </td>
                          </tr>
     
                      </tbody>
                  </table>
              </div>
              <div class="table-pagination">
                  <div class="pageDropdown-wrapper">
                      items per page: 10 Items
                  </div>
                  <div class="pageNumber-wrapper">

                  </div>
                  <div>
                      Showing 1-10 of 12
                  </div>
              </div>
              <div class="download-btn">
                  <img src="../../../assets/images/download-icon__red.svg" alt="">
                  Download as CSV
              </div>
          </div>
      </div>
  </div>
</main>