<main class="layout">
    <a routerLink="../all-customers" class="navigate">
       <img src="../../../../assets/images/back.png" alt="">
        return to customer list
    </a>
    <div class="user-header">
        <h4 class="user-name">
            Sunday Mann <span>Created: Nov 17, 2021, 4:05:30 PM</span>
        </h4>
        <button class="suspend-btn"> Suspend customer </button>
    </div>
    <div class="nav-pills">
        <a class="pill ">Dashboard</a>
        <a class="pill active">Order made</a>
    </div>
    <div class="dataOverview-section">
        <div class="customerData-wrapper">
            <h4>Transaction Data</h4>
            <div class="transaction-display">
                <div class="display-box">
                    <h5>N0.00</h5>
                    <p>Order Value this month</p>
                </div>
                <div class="display-box">
                    <h5>N0.00</h5>
                    <p>Order Value this month</p>
                </div>
                <div class="display-box">
                    <h5>N2.00</h5>
                    <p>Order Value this month</p>
                </div>
            </div>
            <hr class="hr">
            <h4>Orders Made</h4>
            <div class="transaction-display">
                <div class="display-box">
                    <h5>1</h5>
                    <p>Total Orders all Time</p>
                </div>
                <div class="display-box">
                    <h5>1</h5>
                    <p>Cash Transactions</p>
                </div>
                <div class="display-box">
                    <h5>0</h5>
                    <p>Order Value this month</p>
                </div>
            </div>

        </div>
        <div class="customerDetail-wrapper">
            <div class="customerDetail__header">
                Sunday Mann
            </div>
            <div class="customerDetail__info">
                created by   <span>+23481652457</span>
            </div>
            <hr>
            <div class="customerDetail__contact">
                <span>
                    <img src="../../../../assets/images/telephone-handle-silhouette (1).png" alt="">
                    +234565398726
                </span>
                <span>
                    <img src="../../../../assets/images/email.png" alt="">
                    Kay@Mailinator
                </span>
            </div>
        </div>
    </div>
</main>