<main class="layout">
    <div class="wrapper">
        <div class="header">
            <h3>Products</h3>
        </div>
        <div class="content">
            <!-- the button layout -->
            <div class="btn-layout">
                <button class="filter-btn btn">
                    filter Table 
                    <img src="	https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__filter__red.svg" class="img-fluid" alt="filter logo">
                </button>
                <button class="addCustomer-btn btn">
                    Add Staff
                </button>
            </div>
            <!-- the table data section -->
            <div class="data-Container">
                <div class="table-container">
                    <table class="table ">
                        <thead >
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Role Name</th> 
                                <th>Status</th>
                                <th>Store</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr>
                                <td>Blessings Store</td>
                                <td> Blessings Store</td>
                                <td>Wearysamm+084@gmail.com</td>
                                <td>Administrator</td>
                                <td>Active</td>
                                <td>T6-6305</td>
                                <td>
                                    <button routerLink="../update-staff" class="open-btn" >Open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td>Blessings Store</td>
                                <td>Wearysamm+084@gmail.com</td>
                                <td>Administrator</td>
                                <td>Active</td>
                                <td>T6-6305</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >Open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td>Blessings Store</td>
                                <td>Wearysamm+084@gmail.com</td>
                                <td>Administrator</td>
                                <td>Active</td>
                                <td>T6-6305</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >Open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td>Blessings Store</td>
                                <td>Wearysamm+084@gmail.com</td>
                                <td>Administrator</td>
                                <td>Active</td>
                                <td>T6-6305</td>
                                <td>
                                    <button routerLink="../shop" class="open-btn" >Open</button>
                                </td>
                            </tr>
       
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                    <div class="pageDropdown-wrapper">
                        items per page: 10 Items
                    </div>
                    <div class="pageNumber-wrapper">
  
                    </div>
                    <div>
                        Showing 1-10 of 12
                    </div>
                </div>
                <div class="download-btn">
                    <img src="../../../assets/images/download-icon__red.svg" alt="">
                    Download as CSV
                </div>
            </div>
        </div>
    </div>
  </main>