<div class="layout">
    <div class="wrapper">
        <div class="shopForm-wrapper">
            <div class="formDiv">
                <form>
                    <div class="field-container">
                        <input class="field input-field"   type="text" >
                        <label class="field label-field" >shopName</label>
                    </div>
                    <div class="buttonDiv">
                        <button class="btn btn-primary">Save Changes</button>
                    </div>
                    <hr class="hr">
                    <div class="buttonDiv">
                        <button class="btn btn-primary">Disable Shops</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="cashier-wrapper">
            <h6>List of cashiers assigned to this shop</h6>
        </div>
    </div>
</div>