.layout {
    width: 100%;
    height: 100%;
    min-height: 31.25rem;
    padding: 1.25rem;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}
.shopForm-wrapper {
    border-right: .5px solid #dfdede;
    padding-top: 1.5rem;
    padding-right: 3rem;
    width: 50%;
}
.formDiv {
    max-width: 25rem;
}
.field-container {
    margin-bottom: 1.25rem;
    width: 100%;
}
.field {
    position: relative;
    margin-right: 10px;
    font-size: .9rem;
}
.field-container>.four:focus, .field-container>.four:not(:placeholder-shown) {
    padding-top: 20px;
    padding-bottom: 8px;
}
.input-field.ng-valid.ng-touched {
    border: 1px solid #54be47;
}
.input-field {
    line-height: 1.5;
    background: #fff;
    font-size: .9rem;
    color: #9c9898;
    outline: none;
    padding: 22px 17px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border .3s ease; 
}
.label-field {
    position: absolute;
    // top: 33%;
    // left: 26%;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    font-size: .7rem;
    padding: 14px 17px;
    color: #9c9898;
    opacity: .65;
    transform: scale(.85) translateY(-4rem) translateX(0.15rem);
}
.btn-primary {
    color: #fff;
    background: #ed1c25;
}
.btn {
    width: 100%;
    padding: 7.5px 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0px;
    position: relative;
}
.btn:focus {
    border: none;
    outline: none;
}
.hr {
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.cashier-wrapper {
    width: 50%;
    padding-left: 2rem;
    h6 {
        margin: 2rem 0;
    }
}

