<main class="layout">
    <div class="wrapper">
        <div class="sub-header">
            <div>
                <figure>
                    <img src="../../assets/images/nav-logo.svg" alt="">
                </figure>
                <h3>Welcome to</h3>
                <h1>RexRetail</h1>
                <div class="setup ">
                    Select Your Account In <br> three steps
                </div>
                <div class="steps">
                    <div class="step">
                        <div class="circle">
                            <input type="checkbox" disabled>
                            <label for="checkbox"></label>
                        </div>
                        <div class="step-text">Subscription Plan</div>
                    </div>
                    <div class="step">
                        <div class="circle">
                            <input type="checkbox" disabled>
                            <label for="checkbox"></label>
                        </div>
                        <div class="step-text">Business Information</div>
                    </div>
                    <div class="step">
                        <div class="circle">
                            <input type="checkbox" disabled>
                            <label for="checkbox"></label>
                        </div>
                        <div class="step-text">Personal User Information</div>
                    </div>
                </div>
                <div class="sub-header__footer">
                    By clicking on "Save & Proceed" button, you agree to our <br>
                    <a href=""> terms of use & privacy policy</a>
                </div>
            </div>
        </div>
        <div class="sub-plans-section">
            <div class="sub-plans">
                
            </div>
        </div>
    </div>
</main>