<main class="layout">
    <div class="wrapper">
        <div class="sub-header">
            <div>
                <figure>
                    <img src="../../assets/images/nav-logo.svg" alt="">
                </figure>
                <h3>Welcome to</h3>
                <h1>RexRetail</h1>
                <div class="setup ">
                    Select Your Account In <br> three steps
                </div>
                <div class="steps">
                    <div class="step">
                        <div class="circle">
                            <input type="checkbox" disabled>
                            <label for="checkbox"></label>
                        </div>
                        <div class="step-text">Subscription Plan</div>
                    </div>
                    <div class="step">
                        <div class="circle">
                            <input type="checkbox" disabled>
                            <label for="checkbox"></label>
                        </div>
                        <div class="step-text">Business Information</div>
                    </div>
                    <div class="step">
                        <div class="circle">
                            <input type="checkbox" disabled>
                            <label for="checkbox"></label>
                        </div>
                        <div class="step-text">Personal User Information</div>
                    </div>
                </div>
                <div class="sub-header__footer">
                    By clicking on "Save & Proceed" button, you agree to our <br>
                    <a href=""> terms of use & privacy policy</a>
                </div>
            </div>
        </div>
        <div class="sub-plans-section">
            <div class="sub-plans-wrapper">
                <div class="container sub-plans">
                    <div class="sub-plans__header-text">
                        <h3> Get  Started</h3>
                        <a href="#"> see all subcription plans</a>
                    </div>
                    <div class="sub-plans__options">
                        <div class="options-container">
                            <div class="container options">
                                <div class="sub-plans__circle">
                                    <span>
                                       <input name="radio" type="radio">
                                       <label for="mobile"></label> 
                                    </span>
                                </div>
                                <div class="plans-text">
                                    <h4>Mobile</h4>
                                    <p>
                                        With the mobile only plan, all you need to get started is your Android Mobile Phone. You can make cash sales from your store directly on your mobile phone. Click here to download the app from Playstore and complete your registration. Learn More
                                    </p>
                                </div>
                            </div>
                            <div class="container options">
                                <div class="sub-plans__circle">
                                    <span>
                                       <input name="radio" type="radio">
                                       <label for="mobile"></label> 
                                    </span>
                                </div>
                                <div class="plans-text">
                                    <h4>Mobile</h4>
                                    <p>
                                        With the mobile only plan, all you need to get started is your Android Mobile Phone. You can make cash sales from your store directly on your mobile phone. Click here to download the app from Playstore and complete your registration. Learn More
                                    </p>
                                </div>
                            </div>
                            <div class="container options">
                                <div class="sub-plans__circle">
                                    <span>
                                       <input name="radio" type="radio">
                                       <label for="mobile"></label> 
                                    </span>
                                </div>
                                <div class="plans-text">
                                    <h4>Mobile</h4>
                                    <p>
                                        With the mobile only plan, all you need to get started is your Android Mobile Phone. You can make cash sales from your store directly on your mobile phone. Click here to download the app from Playstore and complete your registration. Learn More
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>