.layout {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    padding-top: 2rem;
}
.navigate {
    text-decoration: none;
    border: 1px solid #afafaf;
    border-radius: 4px;
    margin: auto;
    padding: 0.625rem 1.25rem 0.625rem 3rem;
    color: #afafaf;
    img {
        margin-right: 1rem;
    }
}
.wrapper {
    margin-top: 4rem;
}
.wrapper h3 {
    font-size: 1.5rem;
}
.wrapper span {
    font-size: 1rem;
    color: #1a1a1ab8;
    padding: 4px 0;
    margin-bottom: 2rem;
}
.nav-btn-wrapper {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    border-bottom: 2px solid #ccc;
    height: 100%;
    padding: 0px;
}
.nav-btn-wrapper li {
    list-style: none;
    height: 100%;
    
}
.nav-btn{
    text-decoration: none;
    color: #767171;
    font-size: 1rem;
    position:  relative;
    height: 100%;
}
.active {
    color: #ed1c25;
    border-bottom: 2px solid #ed1c25;
}
