.layout {
    background: #fff;
    padding-top: 10%;
    border-radius: 0px 2rem 0px 0px ;
    height: 100%;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
}
#layout {
    width: 16rem ;
}
.toggle-btn-wrapper {
    position: absolute;
    right: -10px;
    top: 5.1rem;
    border-radius: 50%;
    z-index: 1000;
}
.toggle-btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    border: 2px solid white;
    background: #afafaf;
    img {
        filter: brightness(100%);
    }
}
.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}
.sidebar-logo {
    display: flex;
    width: 100%;
    justify-content: center;
}
.sidebar-link {
    display: flex;
    flex-direction: column;
    // gap: .5rem;
    margin-top: .5rem;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    background: #f0f0f0;
    transition: all ease-in-out .3s;
}
.link {
    display: grid;
    grid-template-columns: .5fr 2fr;
    gap: .5rem;
    place-content: center;
    width: 100%;
    height: 3rem;
    padding: 0px 10%;  
    img {
        margin-left: .5rem
    }
}
.active {
    background: transparent linear-gradient(90deg,#f2e0e0 0%,#ffffff 100%) 0% 0% no-repeat padding-box!important;
    transition: all ease-in-out .3s !important;
    border-left: 4px solid #950007;
}
.link-text {
    font-size: 1rem;
    color:      #585858;
    font-weight: 600;
    font-family: Montserat bold, serif;
    transition: all 0.2s ease-in-out 1s;
}
.hr {
    width: 100%;
    height: 2px;
    background: #afafaf;
}