<main class="layout">
    <div class="wrapper">
        <div class="header">
            <h3>Choose A Service</h3>
            <span>Here you can make payment for your subscription plans.</span>
        </div>
        <div class="payment-section">
            <div class="box-wrapper">
                <img src="../../../assets/images/icon__blue__file.svg" alt="">
                <h5>Subscription</h5>
                <span>Subscription Settings & Renewal.</span>
                <a class="open-btn" routerLink="../sub">open</a>
            </div>
            <div class="box-wrapper">
                <img src="../../../assets/images/icon__pos__terminal.svg" alt="">
                <h5>Pay In Advance</h5>
                <span>Make Payment For Upcoming Invoices.</span>
                <a class="open-btn" routerLink="../advance">open </a>
            </div>
            <div class="box-wrapper">
                <img src="../../../assets/images/icon__blue__file.svg" alt="">
                <h5> Invoice History  </h5>
                <span>View All Invoice Payments Made.</span>
                <a class="open-btn" routerLink="../../../reports/billings/id">open </a>
            </div>
        </div>
    </div>


</main>