<main class="layout">
  <div class="wrapper">
      <div class="header">
          <h3>My Staff</h3>
          <span>Monitor all your staff activities here.</span>
      </div>
      <div class="user-section">
          <div class="box-wrapper">
              <img src="../../../assets/images/icon__blue__bank.svg" alt="">
              <h5>Add/Manage Staff</h5>
              <span>Manage staff under you eg. Cashiers, Accountants, and so on.</span>
              <button routerLink="../manage-staff" class="open-btn"> Open </button>
          </div>
          <div class="box-wrapper">
              <img src="../../../assets/images/icon__blue__file.svg" alt="">
              <h5>Staff Roles</h5>
              <span>Create a type of staff eg. Cashier, and specify what he/she can do.</span>
              <button routerLink="../permissions" class="open-btn"> Open </button>
          </div>
          <div class="box-wrapper">
            <img src="../../../assets/images/icon__pos__terminal.svg" alt="">
            <h5>Observe My Staff</h5>
            <span>Performance reports on the cashiers in your shops.</span>
            <button routerLink="permissions" class="open-btn"> Open </button>
        </div>
      </div>
  </div>
</main>