<main class="layout">
  <a routerLink="../../permissions" class="navigate">
    <img src="../../../../assets/images/back.png" alt="">
     return to Staff Roles
 </a>

 <div class="wrapper">
    <div class="header">
      <h3>Update User Role</h3>
      <span>Update existing user role</span>
    </div>
 </div>

 <div class="content">
    <div class="inner-content">
        <div class="inner-content-form">
          <div class="form-area">
            <form >
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Role Name</label>
              </div>
              <div class="form-floating mb-3">
                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>choose ...</option>
                    <option value="admin">Admin</option>
                    <option value="cashier">cashier</option>
                    <option value="engineer">Engineer</option>
                    <option value="finance">Finance</option>
                </select>
                <label for="form-floating">Staff Role</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Active
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="inner-content-access">
          <div class="inner-content-access-text mb-5">
            <h5>Role Access</h5>
          </div>
          <div class="checkboxes-wrapper">
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value=""id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
     indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
            <div class="form-check mb-5">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate" >
  <label class="form-check-label" for="flexCheckIndeterminate">
    Disabled indeterminate checkbox
  </label>
            </div>
          </div>
        </div>
    </div>
    <div class="content-action">
      <button routerLink="../../manage-staff" class="cancel btn">Cancel</button>
      <button class="btn-primary btn">Save Changes</button>
    </div>
 </div>

</main>