.layout {
    background: #fff;
    width: 100%;
    padding: 1rem;
}
// navbar item
.nav-item {
    font-weight: 600;
    text-align: center;
    font-size: 2rem !important;
}
// link anchor tag
.nav-home-link {
    border-radius:0.5rem ;
    background: #c91c24;
    color: #fff;
} 

//login link
.nav-login-btn {
    border: 1px solid #c91c24;
    border-radius:0.5rem ;
    a {
        color: #c91c24;    
    }
}

.pointed-cursor:hover {
    cursor: pointer;
}


@media only screen and (min-width: 768px)  {
    .navbar-collapse {
        justify-content: right;
        display: flex;
        gap: 2rem;
    }
    .nav-item {
        padding: .5rem 1rem;
    }
    .nav-link {
        font-size: 1rem;
    }
}