.layout {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    padding-top: 2rem;
}
.wrapper {
    margin-top: 3rem;
}

.content {
    background: #fff;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    color: #1a1a1ab8;
}
// the button layout 
.btn-layout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
// filter button and section layput
.filterDiv {
    min-width: 25rem;
    background: #fff;
    position: absolute;
    z-index: 1000;
    transform: translateY(2.3rem) translateX(-2.22rem);  
    border-radius: 4px; 
    padding: .8rem;
  }
  .filterInput-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
  }
  .inputDiv {
    width: 50%;
  }
  .filter-group{
    margin-top: .625rem;
    display: grid;
  }
  .filter-label {
    color: #1a1a1ab8;
    font-size: 1rem;
    font-weight: 700;
  }
  .filter-group select {
    width: calc(100% - 8px);
    margin-right: auto;
  }
  .filter-input {
    outline: none;
    border-radius: 4px;
    padding: 5px 0 5px 10px;
    font-size: .75rem;
    border: 1px solid #dfdede;
  }
  .filterBtn-group {
    display: flex;
    width: 100%;
  }
  .btn-transparent {
    background: transparent;
    color: #000;
    margin-left: auto;
  }


@media only screen and (min-width: 478px) {
    .layout{
        height: 100vh;
    }
}