<main class="layout">
    <app-navigation (onLinkClicked)="scrollToSection($event)" ></app-navigation>
    <!-- header section -->
    <section id="landingPage" #home class="header-section py-5">
        <div class="container">
            <h1 class="h1">Manage Your Entire Retail Business</h1>
            <p>Are you looking for a digital solution that makes managing your inventory easier, helps find <br>
                 customer trends and lets you track payments all-in-one box?</p>
            <div class="btn-group">
                <button routerLink="/login" class="header-btn btn-login">Login To RexRetail</button>
                <button routerLink="/sign-up" class="header-btn btn-getStarted">Get Started</button>
            </div>
            <img src="../../assets/images/BG-Image.png" class="img-fluid header-img" alt="">
        </div>
        <div class="bg-red">
            <a href="#">
                <img src="../../assets/images/en_badge_web_generic.png" class="img-fluid" alt="">
            </a>
        </div>
    </section>
    <!-- header section ends here -->
    <!-- about section -->
    <section class="about-section">
        <div class=" container about-rexRetail ">
            <div class="about-content">
                <h2>Grow Your Business <br> with RexRetail</h2>
                <p>
                    The RexRetail payment terminal and mobile application offers <br>  retail business owners an easy way to perfect the most important <br> parts of their business <br><br> You can..
                </p>
                <div class="left3">
                    <div class="box-wrapper">
                        <span class="box1"></span>
                        <p class="box-text box-text1">Manage inventory and be aware of any under-stocked items.</p>
                    </div>
                    
                    <div class="box-wrapper">
                        <span class="box2"></span>
                        <p class="box-text box-text2">Identify customer trends and run discount loyalty programs.</p>
                    </div>
                    
                    <div class="box-wrapper">
                        <span class="box3"></span>
                        <p class="box-text box-text3"> Track All Cashier Sales</p>
                    </div>
                    
                    <div class="box-wrapper">
                        <span class="box4"></span>
                        <p class="box-text box-text4">Instant settlements, so cash is processed right away, giving you more float.</p>
                    </div>
                    <p class="sub-text"> * * With RexRetail, you have all the tools you need to run a smooth retail business. </p>
                </div>
            </div>

            <div class="about-img">
                    <img src="../../assets/images/aboutSection-img.png" class="img-fluid" alt="dashboard-image">
            </div>
        </div>
    </section>
    <!-- about section ends here -->
    <!-- sub section  -->
    <section class="sub py-5">
        <div class="container">
            <div class="container">
                <div class="sub-header ">
                    <h1 class="sub-text">Subscription Plans</h1>
                    <p> Merchants are eligible to at least one plan per time which can be activated at any point on the RexRetail platform. The subscription plan can be monthly, <br> half-yearly, or annually depending on the preference or convenience of the merchant. <br><br> Each merchant is entitled to a trial period of 10 days. Over this period, the merchant will not be requested to pay any value for the subscription.</p>
                </div>
            </div>
    
            <div class="sub-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card sub-box">
                            <h4 class="card-head">Mobile Plan</h4>
                            <h4>NGN 1,000/Basic</h4>
                            <p>With the mobile only plan, all you need to get started is your Android Mobile Phone. You can make cash sales from your store directly on your mobile phone. Click <a href="#">here</a> to download the app from Playstore and complete your registration.</p>
                            <button routerLink="#" class="btn btn-danger"> Get Subscription </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card sub-box">
                            <h4 class="card-head">Lease Plan</h4>
                            <p>This Plan offers you flexibility to own a POS device as well as access the RexRetail App. You can choose from a list of several repayment plans available today. You can receive card and cash payments with this plan</p>
                            <button routerLink="#" class="btn btn-danger"> Get Subscription </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card sub-box">
                            <h4 class="card-head">Outright Plan</h4>
                            <h4>NGN 95,000/POS Device</h4>
                            <p>This Plan allows you make payments to own the POS device at a go. You can purchase multiple devices and access RexRetail with one subscription that allows you accept card and cash payments.</p>
                            <button routerLink="#" class="btn btn-danger"> Get Subscription </button>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- sub section ends here -->
    <!-- offers section -->
    <section class="offers-section">
        <div class="container py-4 offers">
            <h2>RexRetail Offers The Best</h2>
            <div class="offers-grid-container">
                <div class="card offer-card">
                    <img src="../../assets/images/inventory.svg" class="img-fluid" alt="inventory icon">
                    <h4>Inventory Management</h4>
                    <p>
                        Tap into SKU tracking, manage specific stores <br>
                        and inventory whether you are online or offline.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/User Permissions.svg" alt="customer icon">
                    <h4>Customer Management</h4>
                    <p>
                        Understand your customers better with customer <br>
                        records, loyalty programs and manage discount programs.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/notification.svg" alt="notification icon">
                    <h4>Customer Notifications</h4>
                    <p>
                        Instantly print payment invoices on the spot <br>     
                        or send E-receipts directly to your customers.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/barcode-scanner.svg" alt="barcode icon">
                    <h4>Barcode Scanning</h4>
                    <p>
                        Your RexRetail payment terminal can quickly switch between scanning   product purchases or scanning items into your inventory.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/card.svg" alt="card payment icon">
                    <h4>Card and Cash Payment</h4>
                    <p>
                        RexRetail payment terminals support all card types <br>
                        and will capture cash payments as they happen.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/analytics.svg" alt="analytics icon">
                    <h4>Reporting and Analytics</h4>
                    <p>
                        Quickly view payment reports and sales analytics <br>                                                                                                                                                                                                                     
                        on the RexRetail payment terminal or on your mobile.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/terminal.svg" alt="terminal icon">
                    <h4>Long Lasting Battery life</h4>
                    <p>
                        Our RexRetail payment terminal has a generous <br>
                        and reliable battery life of 48 – 72 hours.
                    </p>
                </div>
                <div class="card offer-card">
                    <img src="../../assets/images/google-play.svg" alt="playstore logo">
                    <h4>Availability on Google Play</h4>
                    <p>
                        Download the RexRetail mobile application via <br>
                        the play store!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- offers section  -->
    <section class="getStarted-section" >
        <div id="getStarted" class=" container getStarted">
            <div class="getStarted-content">
                <h5>Get Started Today -</h5>
                <p>
                    <span>RexRetail</span>
                    provides everything <br>
                    you need to seamlessly<br>
                    manage your retail <br>
                    business in one platform
                </p>
                <button class="btn-lg get-btn">
                    Get RexRetail
                </button>
            </div>
            <figure class="getStarted-img">
                <img src="../../assets/images/image1.png" class="img-fluid" alt="image">
            </figure>

        </div>
    </section>
    <!-- offers section ends here -->
    <!-- footer section starts here -->
    <footer class="footer" id="contact">
        <div class="wrapper container">
            <div class="logo">
                <img src="../../assets/images/logo.svg" alt="">
            </div>
            <div class="footer-content">
                <div>
                    <ul>
                        <h5>Company</h5>
                        <a href="#">
                            <li> About</li>
                        </a>
                        <a href="#">
                            <li>Features</li>
                        </a>
                        <a href="#">
                            <li>F.A.Q</li>
                        </a>
                    </ul>
                </div>
                <div>
                    <ul>
                        <h5>Legal</h5>
                        <a href="#">
                            <li>Pricing</li>
                        </a>
                        <a href="#">
                            <li>Privacy</li>
                        </a>
                        <a href="#">
                            <li>Terms</li>
                        </a>
                    </ul>
                </div>
                <div>
                    <ul>
                        <h5>Social</h5>
                        <a href="#">
                            <li>Facebook</li>
                        </a>
                        <a href="#">
                            <li>Instagram</li>
                        </a>
                        <a href="#">
                            <li>Twitter</li>
                        </a>
                    </ul>
                </div>
                <div #contact>
                    <ul>
                        <h5>Contact</h5>
                        <li>
                            8 Eric Moore Street,
                            <br>
                            Wemabod Estate,
                            <br>
                            ikeja, Lagos.
                        </li>
                        <li>
                            0700-ACCELEREX (0700-222353739)
                        </li>
                        <a href="#" class="support-link">support@globalaccelerex.com</a>
                    </ul>
                </div>
                <a href="#">
                    <img src="../../assets/images/en_badge_web_generic.png" class="img-fluid" alt="playstore logo">
                </a>
            </div>
        </div>
        <p>Google Play and the Google Play logo are trademarks of Google LLC. <br>
            Copyright, 2022 - Global Accelerex Limited</p>
    </footer>

</main> 