.layout {
    width: 100%;
    height: 100%;
    background: #fff;
}
// header section
.header-section {
    text-align: center;
    margin-top: 4.5rem;
    .bg-red {
        display: flex;
        align-items: end;
        justify-content: center;
        height: 17.5rem;
        background: #950007;
        width: 100%;
        img {
            margin-top: 1rem;
            width: 30%;
        }
    }
    .h1 {
        font-size: 3.06rem;
        font-weight: 700;
        // font-family: MontSerrat Bold;
        letter-spacing: 1.2px;
        color: #1a1a1a;
    }
    .btn-group {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
    .header-btn {
        margin: 1.25rem;
        outline: none;
        border: none;
        padding: 1rem 2rem;
        border-radius: 0.75rem;
        box-shadow: 0 1.125rem 1.125rem #00000029;
        transition: .2s ease-in all;
        font-weight:700;
    }
    .header-btn:hover {
      transform: translateY(-10px);
    }
    .btn-login{
        color: white;
        background: #c91c24;
   
    }
    .btn-getStarted {
        background: #fff;
        color: #585858;
    }
    .header-img {
        z-index: 1;
        margin-bottom: -200px;
    }

}
// about section
.about-section {
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 1rem;
      }
      
      .about-content{
        flex: 1;
        padding: 1rem; 
      }
      .about-content h2 {
        font-size: 1.8125rem;
        font-weight: 800;
        color: #585858;
        letter-spacing: 1.2px;
        margin-bottom: 25px;     
      }
      
      .about-content  p {
        text-align: center;
        font-family: Roboto;
        font-size: .79rem;
        color: #1a1a1a;
        opacity: 1;
        margin-bottom: 20px;
      
      }
      
      .about-img {
        flex: 1;
        margin-bottom: 80px;
        padding: 2rem;
      }     
      
      .box-wrapper {
        display: flex;
        margin-bottom: 15px;
        .box-text {
          font-family: Bold;
          font-size: .75rem;
          color: #1a1a1a;
          font-weight: 700;
        }
        .box1 {
          background-color: #950007;
          width: 25px;
          height: 15px;
          border-radius: 10px;
          margin-left: 25px;
        }
        
        .box-text1 {
          margin-left: 38px;
        }
        
        .box2 {
          background-color: #950007;
          width: 39px;
          height: 15px;
          border-radius: 10px;
          margin-left: 20px;
        }
        .box-text2 {
          margin-left: 30px;
        }
        .box3 {
          background-color: #950007;
          width: 58px;
          height: 15px;
          border-radius: 10px;
          margin-left: 9px;
        }
        .box-text3 {
          // margin-left: rem;
        }
        .box4 {
          background-color: #950007;
          width: 83px;
          height: 15px;
          border-radius: 10px;
        }  
        .box-text4 {
          margin-left: 4px;
        }
      }      
      .sub-text {
        margin-left: 40%;
        color: #c91c24 !important;
        font-size: 20px;
        font-family: Roboto,Bold;
        text-transform: capitalize;
        letter-spacing: .86px;
        font-weight: 700;
      }
}
// sub section
.sub {
    width: 100%;
    background: #fff;
    padding: 0 15px; 
}  
.sub-header {
    margin-bottom: 3rem;
    text-align: center;
}  
.sub-header .sub-text {
    margin-bottom: 1.5rem;
}
.sub-header p {
  color: #1a1a1a;
  margin-bottom: auto;
  line-height: 1.8;
  font-size: .8rem;
}
.sub-box {
    height: 390px;
    width: 100%;
    padding: 2rem;
    margin-bottom: 5rem;
    border-radius: 1rem;
    box-shadow: inset 0 3px 6px #00000029;
  }
  .sub-box p {
    color: #1a1a1a;
    text-align: left;
    font-size: .8rem;
    margin-bottom: auto;
  }
  
.card-head {
    color: #c91c24;
  }
  
.sub-box a {
    text-decoration: none;
    color: #c91c24;
  }
  
.subheader h1 {
    font-family: "Montserrat Bold",sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    list-style: 1.2;
    color: #1a1a1a;
  
  }
  
.sub-box h4 {
    font-family: "Montserrat",sans-serif;
    font-size: 1.3rem;
  }
.sub-box .btn-danger {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 8px;
    width: 100%;
  }
.sub-box button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


// getStarted section
.getStarted-section {
    width: 100%;
    height: 37.5rem;
    background: #950007;
    text-align: center;
}
.getStarted {
    background: #fff;
    top: 2.7rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    box-shadow: 0 24px 24px #00000029;
}
.getStarted-content {
    text-align: left;
    h5 {
        color: #c91c24;
        font-size: 1.25rem;
        letter-spacing: .4px;
        margin-bottom: 1.875rem;
    }
    p {
      margin-bottom: 1.875rem;
      font-size: 1.25rem;
      color: #1a1a1a;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    p span {
        color: #c91c24;
        font-size: 1.25rem;
    }
    .get-btn {
        background: #c91c24;
        color: #fff;
        margin-bottom: 1rem;
        width: 100%;
        border: none;
        outline: none;
    }
}
// offers section
.offers-section {
    text-align: center;
}
.offers {
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 24px 24px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    

    h2 {
        font-size: 1.875rem;
        color: #1a1a1a;
        margin-bottom: 3.125rem;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
    }
}
.offers-grid-container {
    display: grid;
    grid-template-columns: 1fr;
}
.offer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    border: none;
    img {
        width: 2.625rem;
        height: 2.625rem;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 0.75rem;
        color: #1a1a1a;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    p {
        text-align:center;
        font-size: 0.625rem;
        color: #707070;
    }
}
// footer section
.footer {
  width: 100%;
  background: #1a1a1a;
  color: #fff;
}
.wrapper {
  padding: 6.25rem 0px 6.25rem 0px;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
h5 {
  color: #afafaf;
  font-size: 1.25rem;
}
a {
  text-decoration: none;
  img {
      width: 50%;
  }
}
li {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  list-style-type: none;
}
.support-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
}


p {
  text-align: center;
  margin: 0;
  font-size: 0.75rem;
  color: #ffffff3d;
  padding-bottom: 1rem;
}
a {
    text-decoration: none;
}   


@media only screen and (min-width: 768px)  {
    .layout {
        height: 100vh;
        overflow: visible;
    }
    .header-section {
        .bg-red {
            img {
                width: 70%;
            }
        }
        .btn-group {
            flex-direction: row;
        }
        .btn-login {
            width: fit-content;
        }
    }
    .about-section {
        .container {
            flex-direction: row;
          }
          .about-content {
            text-align: left;
          }
          .about-content > p {
            font-size: 1rem;
            text-align: left;
            color: #1a1a1a;
            margin-bottom: 1.25rem;
          } 
          .box1 {
            background-color: #950007;
            width: 20px;
            height: 15px;
            border-radius: 10px;
            margin-left: 30px;
          }
          .box-text {
            font-family: Bold;
            font-size: 0.75rem;
            color: #1a1a1a;
            font-weight: 700;
            margin-left: 20px;
          }
        
          .box-text__red{
            margin-left: 40%;
            color: #c91c24;
            font-size: 20px;
            font-family: Roboto,Bold;
            text-transform: capitalize;
            letter-spacing: .86px;
            font-weight: 700;
          }
       }
       
    .sub .sub-header {
        text-align: center;
    
      }
    .getStarted {
        top: 7.5rem;
        flex-direction: row;
        border-radius: 1.5rem;
        img {
            margin-top: 1rem;
        }
    }
    .getStarted-content {
        margin-left: 5rem;
    }
    .offers {
        bottom: -3rem;
    }
    .offers-grid-container {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: .5rem;
    }
    .logo {
      justify-content: left;
  }
  .footer-content {
      flex-direction: row;
      justify-content: start;
      text-align: left;
      width: 100%;
      gap: 2rem;
  }
  li {
      font-size: 0.75rem;
  }
  h5 {
      font-size: 0.75rem;
  }
  .support-link {
      font-size: 0.75rem;
  }
}