<main class="layout">
    <div class="wrapper">
        <div class="header">
            <h3>My Customers</h3>
            <span>View and manage your customers</span>
        </div>
        <div class="content">
            <!-- the button layout -->
            <div class="btn-layout">
                <button class="filter-btn btn">
                    filter Table 
                    <img src="	https://assetslogos.s3-eu-west-1.amazonaws.com/frontendassets/icons/icon__filter__red.svg" class="img-fluid" alt="filter logo">
                </button>
                <button class="addCustomer-btn btn">
                    Add Customers
                </button>
            </div>
            <!-- the table data section -->
            <div class="data-Container">
                <div class="table-container">
                    <table class="table ">
                        <thead >
                            <tr>
                                <th>Customer Name</th>
                                <th>Email Adddress</th>
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td>
                                    <button class="open-btn">open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td >
                                    <button class="open-btn">open</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Sunday Mann</td>
                                <td> sundaymann@mail.com</td>
                                <td>+2347083568897</td>
                                <td>Active</td>
                                <td >
                                    <button class="open-btn ">open</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-pagination">
                </div>
            </div>
        </div>
    </div>
</main>